<!DOCTYPE html>
<html>
<head>
  <title>Ministry of Magic</title>

  <link href="../css/header-footer-only-47382e2720900ac58e9d20a55871b316.css" media="screen" rel="stylesheet" type="text/css">
  <link href="../css/print-0d9fb31f928fd75de11684e3753752fc.css" media="print" rel="stylesheet" type="text/css">
  <link href="../css/fonts-0fb6b917e34e45c93a44eec72dcc21de.css" media="all" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="https://assets-origin.preview.alphagov.co.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon">
  <link href="../css/base.css" media="screen" rel="stylesheet" type="text/css">
  <link href="../css/print.css" media="print" rel="stylesheet" type="text/css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23321219-3', 'ministryofmagic.co');
  ga('send', 'pageview');

  </script>
</head>

<body>

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
              <a href="http://gov.uk" id="logo" class="content">
                  <img src="../css/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
              </a>
              <a href="/confundus">Search</a>
            </div>

            <form id="search" class="site-search" action="" method="get" role="search">
              <div class="content">
                  <label for="site-search-text">Search</label>
                  <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
              </div>
              <input type="hidden" name="tab" value="government-results">
            </form>
        </div>
        
        <div class="header-proposition">
          <div class="content">
              <a href="confundus" class="js-header-toggle menu">Menu</a>
              <nav id="proposition-menu">
                <a href="confundus" id="proposition-name">Inside Government</a>
                <ul id="proposition-links">
                      <li><a href="/confundus" class="active">Departments</a></li>
                      <li><a href="/confundus" class="">Topics</a></li>
                      <li><a href="/confundus" class="">Worldwide</a></li>
                      <li><a href="/confundus" class="">How government works</a></li>
                      <li><a href="/confundus" class="">Get involved</a></li>
                      <li class="clear-child"><a href="/confundus" class="">Policies</a></li>
                      <li><a href="/confundus" class="">Publications</a></li>
                      <li><a href="/confundus" class="">Consultations</a></li>
                      <li><a href="/confundus" class="">Statistics</a></li>
                      <li><a href="/confundus" class="">Announcements</a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</header><!--end header-->

<div id="whitehall-wrapper">
  <div class="whitehall-top-bar"></div>

  <div class="whitehall-content">
    
    <div id="page" class="organisations-show">
      
      <div class="organisation department-for-environment-food-rural-affairs ministerial-department" id="organisation_7">

          <div class="block-1 headings-block">
            
            <div class="inner-block">


<article class="news_article document-page newsarticle" id="news_article_284870"><header class="block headings-block"><div class="inner-block floated-children">
      <div class="heading-with-extra">
  <div class="inner-heading">
    <p class="type">Press release</p>
    <h1>International hunt for Andy Brown</h1>
  </div>
</div>




<div class="heading-extra">
  <div class="inner-heading">
    
    
  </div>
</div>
<aside class="meta"><div class="inner-heading">
    <dl>
<dt>Organisation:</dt>
        <dd>
          <p class="js-hide-other-departments organisations-name-list">
  <span class="organisation lead" id="organisation_18"><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Law_Enforcement">Department of Magical Law Enforcement</a></span>
</p>

        </dd>
      
      <dt class="change-notes-title">Page history:</dt>
    <dd class="js-toggle-change-notes change-notes">
      Updated <abbr class="published-at date" title="2013-12-28T09:41:30+00:00">28 December 2013</abbr>
    </dd>


        <dt>Topic:</dt>
        <dd class="js-hide-other-links document-topics">
          <a href="https://www.google.com/#q=Security+and+Muggle+Technology">A person of Interest</a>
        </dd>
        <dt>Minister:</dt>
        <dd class="js-hide-other-links document-role-appointments">
          <a href="http://harrypotter.wikia.com/wiki/John_Dawlish">John Dawlish</a>
        </dd>


    </dl>
</div>
</aside>
</div>
  </header><div class="block-2 ">
    <div class="inner-block">
      <div class="summary">
  <p>The Ministry is currently looking for the Muggle responsible for the security breaches over the Christmas Period. Andy Brown, former head of the Department for Use of Muggle Technologies, is now at large.</p>

    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <aside class="lead-image-sidebar sidebar"><figure class="image embedded"><div class="img"><img alt="Andy Brown" src="../images/Andy.gif"></div>
  </figure></aside>
</div>
  </div>
  <div class="block-4">
    <div class="inner-block">
      <div class="document body">
        <div class="govspeak">

        <p>Making the ministry website accessible to the Muggle population constitutes a complete breach of the Wizarding community’s cover.</p>

        <p>The former Head of the Department for the Use of Muggle Technologies gave no indication of what he was planning to do when he left work on Friday the 20th of December. Mr. Brown is shown in the photo on the left, taken on his first day at the Ministry.</p>

        <p> The Ministry has been informed that Mr. Brown is currently in hiding and that he is under the protection of the fidelius charm. We are urgently seeking any information about this missing suspect, and request that any associate of Mr. Brown be made known to the Ministry at once, as they may be the secret keeper for the fidelius charm. We know that he usually associates with a group calling themselves Entrepreneur First.</p>

        <p>Witches and Wizards who spot Andy are advised to act with caution. Although he is not magical, we suspect he may have a number of magical accomplices.</p>

<h4 id="justice-secretary-chris-grayling-said">John Dawlish, Head of the Department of Magical Law Enforcement, said:</h4>

<blockquote>
  <p class="last-child">We urge anyone, magical or Muggle, to come forward if they have any information pertaining to the whereabouts of this individual. </p>
</blockquote>

</div>
      </div>
    </div>
  </div>
  <div class="inner-block">
    <div class="document-share-links">
  <h3>Share this page</h3>
  <ul class="social-media-accounts">
<li>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.ministryofmagic.co%2Fnews%2Finternational_hunt" class="facebook" target="_blank" class="facebook" target="_blank">
        <span class="connect">Share on</span> Facebook
</a>    </li>
    <li>
      <a href="https://twitter.com/share?url=https%3A%2F%2Fwww.ministryofmagic.co%2Fnews%2Finternational_hunt&amp;text=Alert,%20Ministy%20search%20for%20one%20responsible%20for%20exposure%20to%20Muggle%20community" class="twitter" target="_blank">
        <span class="connect">Share on</span> Twitter
</a>    </li>
  </ul>
</div>

  </div>
  <div class="links">
    <dl class="primary-metadata">
<dt>Organisation:</dt>
          <dd><span class="footer_organisation lead" id="footer_organisation_18"><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Law_Enforcement">The Department of Magical Law Enforcement</a></span></dd>
        <dt>Minister:</dt>
          <dd class="document-role-appointments">
            <a href="http://harrypotter.wikia.com/wiki/John_Dawlish">John Dawlish</a>
          </dd>
    </dl>
</div>
</div>

    </div>
  </div>
</article><!-- report_a_problem -->
<p class="report-a-problem-toggle js-footer"><a href="/confundus">Is there anything wrong with this page?</a></p>
<!-- end report_a_problem -->
    </div>
  </div>

    </div>