<!DOCTYPE html>
<html>
<head>
    <title>Ministry of Magic</title>

    <link href="css/header-footer-only-47382e2720900ac58e9d20a55871b316.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/print-0d9fb31f928fd75de11684e3753752fc.css" media="print" rel="stylesheet" type="text/css">
    <link href="css/fonts-0fb6b917e34e45c93a44eec72dcc21de.css" media="all" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="https://assets-origin.preview.alphagov.co.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon">
    <link href="css/base.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css">

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23321219-3', 'ministryofmagic.co');
  ga('send', 'pageview');

    </script>
</head>

<body>

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="" id="logo" class="content">
                        <img src="css/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
                    </a>
                    <a href="http://whitehall-frontend.dev.gov.uk/government/organisations/department-for-environment-food-rural-affairs#search" class="search-toggle js-header-toggle">Search</a>
                </div>

                <form id="search" class="site-search" action="" method="get" role="search">
                    <div class="content">
                        <label for="site-search-text">Search</label>
                        <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
                    </div>
                    <input type="hidden" name="tab" value="government-results">
                </form>
            </div>
            
            <div class="header-proposition">
                <div class="content">
                    <a href="http://whitehall-frontend.dev.gov.uk/government/organisations/department-for-environment-food-rural-affairs#proposition-links" class="js-header-toggle menu">Menu</a>
                    <nav id="proposition-menu">
                        <a href="http://whitehall-frontend.dev.gov.uk/government" id="proposition-name">Inside Government</a>
                        <ul id="proposition-links">
                            <li><a href="" class="active">Departments</a></li>
                            <li><a href="" class="">Topics</a></li>
                            <li><a href="" class="">Worldwide</a></li>
                            <li><a href="" class="">How government works</a></li>
                            <li><a href="" class="">Get involved</a></li>
                            <li class="clear-child"><a href="" class="">Policies</a></li>
                            <li><a href="" class="">Publications</a></li>
                            <li><a href="" class="">Consultations</a></li>
                            <li><a href="" class="">Statistics</a></li>
                            <li><a href="" class="">Announcements</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header><!--end header-->

    <div style="width: 80%; margin: auto; display: block; text-align: center; padding-top: 40px;">
        <img src="/images/Confundus.gif">
        <h1>Looks like you've confunded us -- Page not found</h1>
        <a href="/"> Go back to the main site </a>
    </div>
</body>
</html>