<!DOCTYPE html>
<html>
<head>
	<title>Ministry of Magic</title>

	<link href="css/header-footer-only-47382e2720900ac58e9d20a55871b316.css" media="screen" rel="stylesheet" type="text/css">
	<link href="css/print-0d9fb31f928fd75de11684e3753752fc.css" media="print" rel="stylesheet" type="text/css">
	<link href="css/fonts-0fb6b917e34e45c93a44eec72dcc21de.css" media="all" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="https://assets-origin.preview.alphagov.co.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon">
	<link href="css/base.css" media="screen" rel="stylesheet" type="text/css">
	<link href="css/print.css" media="print" rel="stylesheet" type="text/css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23321219-3', 'ministryofmagic.co');
  ga('send', 'pageview');

  </script>
</head>

<body>

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
          	<div class="header-logo">
            	<a href="http://gov.uk" id="logo" class="content">
              		<img src="css/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
            	</a>
            	<a href="/confundus">Search</a>
          	</div>

          	<form id="search" class="site-search" action="" method="get" role="search">
            	<div class="content">
              		<label for="site-search-text">Search</label>
              		<input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
            	</div>
            	<input type="hidden" name="tab" value="government-results">
          	</form>
        </div>
        
        <div class="header-proposition">
        	<div class="content">
            	<a href="confundus" class="js-header-toggle menu">Menu</a>
             	<nav id="proposition-menu">
             		<a href="confundus" id="proposition-name">Inside Government</a>
            		<ul id="proposition-links">
                  		<li><a href="/confundus" class="active">Departments</a></li>
                  		<li><a href="/confundus" class="">Topics</a></li>
                  		<li><a href="/confundus" class="">Worldwide</a></li>
                  		<li><a href="/confundus" class="">How government works</a></li>
                  		<li><a href="/confundus" class="">Get involved</a></li>
                  		<li class="clear-child"><a href="/confundus" class="">Policies</a></li>
                  		<li><a href="/confundus" class="">Publications</a></li>
                  		<li><a href="/confundus" class="">Consultations</a></li>
                  		<li><a href="/confundus" class="">Statistics</a></li>
                  		<li><a href="/confundus" class="">Announcements</a></li>
                	</ul>
                </nav>
            </div>
        </div>
    </div>
</header><!--end header-->

<div id="whitehall-wrapper">
	<div class="whitehall-top-bar"></div>

	<div class="whitehall-content">
		
		<div id="page" class="organisations-show">
			
			<div class="organisation department-for-environment-food-rural-affairs ministerial-department" id="organisation_7">

  				<div class="block-1 headings-block">
    				
    				<div class="inner-block">
      					
      					<header class="page-header">
      						<h1>
        						<span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large">
          							<span>Ministry<br>of<br>Magic</span>
          						</span>
          					</h1>
          					<aside class="organisation-mainstream-links">
          						<ul>
									<li><a href="/confundus">Press office contacts</a></li>
          							<li><a href="/confundus">Talking to Muggles </a></li>
      							</ul>
      						</aside>
          				</header>
        			</div>	
        		</div>

        		<div class="block-2 has-social">
    				<div class="inner-block">
        				<section class="organisation-news featured-news items-6" id="featured-documents">

        					<article class="feature first" id="feature_4543">
        						<div class="content">
    								<span class="image-holder">
      									<a href="/confundus" class="img" title="The ministry of magic">
      										<img alt="Statue" class="featured-image" src="./images/Statue.jpg">
      									</a>
    								</span>
    								<div class="text">
        								<p class="meta">
        									<abbr class="date" title="2013-12-19T11:48:00+01:00">19 December 2013</abbr>
          									- News story
        								</p>
      									<h2><a href="/confundus">International Magical Holiday</a></h2>
        								<p class="summary">To celebrate the defeat of He Who Must Not Be Named, starting in 2014 the 12th of July will be an annual day of celebration in the magical world</p>
 									</div>
  								</div>
  							</article>

  							<article class="feature secondary item-1">
  								<div class="content">
   									<span class="image-holder">
      									<a href="/confundus">
      										<img alt="Bee on flower" class="featured-image" src="./images/Arthur-weasley.jpg">
      									</a>
    								</span>
    								<div class="text">
        								<p class="meta">
        									<abbr class="date" title="2013-12-17T15:30:42+01:00">17 December 2013</abbr>
          									- Appointment
        								</p>
      									<h2>
      										<a href="/confundus">New head of the Department of International Magical Cooperation: Arthur Weasley</a>
      									</h2>
        								<p class="summary">The Ministry of Magic is proud to announce that Arthur Weasley has been appointed as head of the Department of International Magical Cooperation. Mr. Weasley is looking forward to improving relations between the UK and other wizarding Nations.</p>
    								</div>
  								</div>
							</article>

							<article class="feature secondary item-0">
  								<div class="content">
   									<span class="image-holder">
      									<a href="/confundus">
      										<img alt="Bee on flower" class="featured-image" src="./images/floo.jpg">
      									</a>
    								</span>
    								<div class="text">
        								<p class="meta">
        									<abbr class="date" title="2013-12-13T15:30:42+01:00">13 December 2013</abbr>
          									- Travel Update
        								</p>
      									<h2>
      										<a href="/confundus">Partial closure on the floo network this Christmas</a>
      									</h2>
        								<p class="summary">The Department for Magical Transport would like to remind all Witches and Wizards that some lines on the floo network will be down for essential maintainence and completely closed on Christmas Day (Tuesday 24th December - Friday 27th December). Please plan journeys accordingly.</p>
    								</div>
  								</div>
							</article>

							<article class="feature secondary item-0">
  								<div class="content">
   									<span class="image-holder">
      									<a href="/confundus">
      										<img alt="Bee on flower" class="featured-image" src="./images/dragon.jpg">
      									</a>
    								</span>
    								<div class="text">
        								<p class="meta">
        									<abbr class="date" title="2013-12-13T15:30:42+01:00">13 December 2013</abbr>
          									- Safety Warning
        								</p>
      									<h2>
      										<a href="/confundus">Ukranian Ironbelly on the Loose</a>
      									</h2>
        								<p class="summary">A Ukranian Ironbelly, pictured above during its infamous escape involving Harry Potter, is still on the loose. The dragon in question keeps returning to Gringotts to wreak havoc. The Department for the Regulation and Control of Magical Creatures has not yet been able to safely capture the beast. When attending Diagon Ally and specifically Gringotts members of the magical community should be especially careful and keep an eye on under age wizards &amp; witches. We apologise for any inconvinience and assure you that your Ministry is working hard to rectify the situation. Merry Christmas</p>
    								</div>
  								</div>
							</article>
						</section>

						<section id="what-we-do" class="what-we-do">
							<div class="content">
           						<h1 class="label">What we do</h1>
            					<div class="overview">
              						<p class="description">We are the legislative body that represents all magical individuals in the UK. We are responsible for and oversee all instances of magic within the UK. We are also responsible for the protection of British Muggles and maintaining the anonymity of the magical community.</p>
                					<p class="parent_organisations">
                					<abbr title="Ministry of Magic">MoM</abbr> constitutes 12 main departments which oversee specific areas of magical interest.
                  					</p>
              						<p><a href="/confundus" id="read_more_link">Read more about what we do and our individual departments</a></p>
            					</div>
        					</div>
      					</section>

      					 <div class="social-media">
          					<div class="content">
              					<section>
              						<h2 class="label">Follow us</h2>
    								<ul class="social-media-accounts js-hide-extra-social-media">
										<li class="social_media_account" id="social_media_account_34">
          									<a href="https://twitter.com/MinistryofMagic" class="social-media-link twitter">
            								<span class="connect">Connect with MoM on</span> twitter
											</a>
										</li>        
										<li class="social_media_account" id="social_media_account_915">
          									<a href="https://www.facebook.com/pages/Ministry-of-Magic" class="social-media-link facebook">
           									<span class="connect">Connect with MoM on</span> Facebook
											</a>
								        <li class="social_media_account" id="social_media_account_917">
          									<a href="http://www.youtube.com/user/HarryPotter" class="social-media-link youtube">
            								<span class="connect">Connect with MoM on</span> YouTube
											</a>
										</li>
									</ul>
								</section>
							</div>
        				</div>
        			</div>
        		</div>

                <div class="block-6">
                    <div class="inner-block">
                        <section id="topics">
                            <h1 class="label">We work on these topics</h1>
                            <ol class="topics collection-list two-columns">
                                <li class="topic topic collection-item" id="topic_50">
                                    <div class="container">
                                        <h2><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Accidents_and_Catastrophes">Muggle &amp; wizarding community separation</a></h2>
                                        <div class="summary">
                                            <p>The Ministry of Magic is responsible for maintaining the concealment of the wizarding community from the muggle community. We monitor all wizarding activity and protect the muggles of Britain from any negative wizard phenomena. This activity is ultimately for the benefit of the wizarding community.<a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Accidents_and_Catastrophes">Read more</a></p>
                                        </div>
                                    </div>
                                </li>    
                                <li class="topic topic collection-item" id="topic_30">
                                    <div class="container">
                                        <h2><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Law_Enforcement">Policing the wizarding community</a></h2>
                                        <div class="summary">
                                            <p>The Ministry of Magic recognises that not all wizards and witches use their power for the good of others. The practice of this magic, known as the 'Dark Arts' is strictly prohibited. It is the responsibility of the Department of Magical Law Enforcement to enforce wizarding law and prosecute offenders.<a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Law_Enforcement">Read more</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="topic topic collection-item" id="topic_60">
                                    <div class="container">
                                        <h2><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Transportation">Magical Transport</a></h2>
                                        <div class="summary">
                                            <p>The Ministry of Magic is responsible for operating and maintaining the various magical transport systems available to the wizarding community. This work is carried out by the Department of Magical Transportation.<a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Transportation">Read more</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="topic topic collection-item" id="topic_61">
                                    <div class="container">
                                        <h2><a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Games_and_Sports">Games and Sports</a></h2>
                                        <div class="summary">
                                            <p>The Ministry of Magic is responsible for organising sporting events, for example the last Quidditch World Cup which was held in the UK.<a href="http://en.wikipedia.org/wiki/Ministry_of_Magic#Department_of_Magical_Games_and_Sports">Read more</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </section>
                    </div>
                </div>

        <div class="block-9">
          <div class="inner-block" id="people">
            <section id="who">
              <section id="ministers">
                <h1 class="label">Our ministers</h1>
                  <ul>
                    <li class="person person-excerpt clear-person" id="person_91">
                      <div class="inner">
                        <div class="image-holder">
                          <a href="http://harrypotter.wikia.com/wiki/Kingsley" class="img"><img alt="Kingsley Shacklebolt" src="/images/kingsley.jpg"></a>
                        </div>
                          <div class="text">
                            <h3 class="current-appointee"><a href="http://harrypotter.wikia.com/wiki/Kingsley"><strong>Kingsley Shacklebolt</strong></a></h3>
                            <p class="role">
                              <a href="http://harrypotter.wikia.com/wiki/Kingsley">Minister for Magic</a>
                              <span></span>        </p>
                          </div>
                        </div>
                    </li>
                    <li class="person person-excerpt" id="person_75">
                      <div class="inner">
                        <div class="image-holder">
                          <a href="http://harrypotter.wikia.com/wiki/Tonks" class="img"><img alt="Nymphadora Tonks" src="/images/nymphadora.jpg"></a>
                        </div>
                        <div class="text">
                          <h3 class="current-appointee"><a href="http://harrypotter.wikia.com/wiki/Tonks"><strong>Nymphadora Tonks</strong></a></h3>
                          <p class="role">
                            <a href="http://harrypotter.wikia.com/wiki/Department_of_Magical_Law_Enforcement">Head of Department of Magical Law Enforcement</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="person person-excerpt" id="person_69">
                      <div class="inner">
                        <div class="image-holder">
                          <a href="http://about.me/ubc_founder" class="img"><img alt="Andy Brown" src="/images/andy.jpg"></a>
                        </div>
                        <div class="text">
                          <h3 class="current-appointee"><a href="http://about.me/ubc_founder"><strong>Andy Brown</strong></a></h3>
                          <p class="role">
                            <a href="/">Head of Department of the Use of Muggle Technologies</a>
                            <span></span>        
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="person person-excerpt" id="person_69">
                      <div class="inner">
                        <div class="image-holder">
                          <a href="http://harrypotter.wikia.com/wiki/Amos_Diggory" class="img"><img alt="Amos Digory" src="/images/Amos-digory.jpg"></a>
                        </div>
                        <div class="text">
                          <h3 class="current-appointee"><a href="http://harrypotter.wikia.com/wiki/Amos_Diggory"><strong>Amos Digory</strong></a></h3>
                          <p class="role">
                            <a href="http://harrypotter.wikia.com/wiki/Amos_Diggory">Head of Department for the Regulation and Control of Magical Creatures</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="person person-excerpt" id="person_69">
                      <div class="inner">
                        <div class="image-holder">
                          <a href="http://harrypotter.wikia.com/wiki/Arthur_Weasley" class="img"><img alt="Authur Weasley" src="/images/Arthur-weasley-2.jpg"></a>
                        </div>
                        <div class="text">
                          <h3 class="current-appointee"><a href="http://harrypotter.wikia.com/wiki/Arthur_Weasley"><strong>Arthur Weasley</strong></a></h3>
                          <p class="role">
                            <a href="http://harrypotter.wikia.com/wiki/Arthur_Weasley">Head of Department of International Magical Cooperation</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </section>
            </div>
          </div>
              
				<div class="block-7">
                    <div class="inner-block">
                        <section id="policies" class="heading-block">
                            <h1 class="label"><a href="/confudus">Our policies</a></h1>
                            <div class="content">
                                <ol class="policies document-list">
                                    <li class="policy document-row" id="policy_210647">
                                        <h2><a href="/confudus">Promoting Muggle awareness</a></h2>
                                        <p class="summary">How the Ministry of Magic increases awareness and consideration for the Muggles of Britian.</p>
                                    </li>
                                    <li class="policy document-row" id="policy_210626">
                                        <h2><a href="/confudus">Inclusivity and Diversity</a></h2>
                                        <p class="summary">What the Ministry of Magic is doing to make sure every witch and wizard is treated equally and fairly.</p>
                                    </li>
                                    <li class="policy document-row" id="policy_210859">
                                        <h2><a href="/confudus">Promotion of international wizarding relations</a></h2>
                                        <p class="summary">How the Ministry of Magic is improving relations between us and the wizard and witches of other nations.</p>
                                    </li>
                                </ol>
                                <p class="see-all">
                                    <a href="/confudus">See all of our policies</a>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                
                <div class="block documents-grid">
                    <div class="inner-block">
                        <h1 class="block-title">Documents</h1>
                        <section id="announcements" class="document-block documents-1">
                            <h1>Our announcements</h1>
                            <div class="content">
                                <ol class="announcements document-list">
                                    <li class="news_article document-row" id="news_article_210842">
                                        <h2><a href="/confudus">In response to concerns that OWLs and NEWTs have been getting easier and syllabus need to be revised.</a></h2>
                                        <ul class="attributes">
                                            <li class="first-published-at">
                                                <abbr class="public_timestamp" title="2013-07-01T13:54:00+01:00"> 1 July 2013</abbr>
                                            </li>
                                            <li class="announcement-type">
                                                Government response
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="news_article document-row" id="news_article_210565">
                                        <h2><a href="/confudus">The Misuse of Muggle artefacts office launches a hunt for wizards bewitching Christmas trees to immediately drop their needles once lights and baubles are installed.</a></h2>
                                        <ul class="attributes">
                                            <li class="first-published-at">
                                                <abbr class="public_timestamp" title="2013-07-01T10:39:00+01:00"> 29 September 2013</abbr>
                                            </li>
                                            <li class="announcement-type">
                                                News story
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                                <p class="see-all">
                                    <a href="/confudus">See all of our announcements</a>
                                </p>
                            </div>
                        </section>

                        <section id="consultations" class="document-block documents-2">
                            <h1>Our consultations</h1>
                            <div class="content">
                                <ol class="publications document-list">
                                    <li class="consultation document-row" id="consultation_210074">
                                        <h2><a href="/confudus">Death Eater penetration of official posts during the second reign of He Who Must Not Be Named</a></h2>
                                        <ul class="attributes">
                                            <li class="publication-date">
                                                <abbr class="public_timestamp" title="2013-06-28T10:02:00+01:00">05 November 2013</abbr>
                                            </li>
                                            <li class="document-type">Consultation outcome</li>
                                        </ul>
                                    </li>
                                    <li class="consultation document-row" id="consultation_209813">
                                        <h2><a href="/confudus">Greater inclusion of other magical beings into the Ministry of Magic</a></h2>
                                        <ul class="attributes">
                                            <li class="publication-date">
                                                <abbr class="public_timestamp" title="2013-06-27T13:38:59+01:00">17 December 2013</abbr>
                                            </li>
                                            <li class="document-type">Open consultation</li>
                                        </ul>
                                    </li>
                                </ol>
                                <p class="see-all">
                                    <a href="/confudus">See all of our consultations</a>
                                </p>
                            </div>
                        </section>

                        <section id="publications" class="document-block documents-3">
                            <h1>Our publications</h1>
                                <div class="content">
                                    <ol class="publications document-list">
                                        <li class="publication document-row" id="publication_210586">
                                            <h2><a href="/confudus">Broom maintenance and safe travel during the winter period.</a></h2>
                                            <ul class="attributes">
                                                <li class="publication-date">
                                                    <abbr class="public_timestamp" title="2013-07-01T11:40:50+01:00"> 5 November 2013</abbr>
                                                </li>
                                                <li class="document-type">Guidance</li>
                                            </ul>
                                        </li>
                                        <li class="publication document-row" id="publication_210549">
                                            <h2><a href="/confudus">Portkey awareness: the safe way to use portkeys.</a></h2>
                                            <ul class="attributes">
                                                <li class="publication-date">
                                                    <abbr class="public_timestamp" title="2013-07-01T10:26:00+01:00"> 11 December 2013</abbr>
                                                </li>
                                                <li class="document-type">Guidance</li>
                                            </ul>
                                        </li>
                                    </ol>
                                    <p class="see-all">
                                        <a href="/confudus">See all of our publications</a>
                                    </p>
                                </div>
                            </section>

                            <section id="statistics-publications" class="document-block documents-4">
                                <h1>Our statistics</h1>
                                <div class="content">
                                    <ol class="publications document-list">
                                        <li class="publication document-row" id="publication_210220">
                                            <h2><a href="/confudus">Muggle Wizard incident reports</a></h2>
                                            <ul class="attributes">
                                                <li class="publication-date">
                                                    <abbr class="public_timestamp" title="2013-07-01T09:30:00+01:00"> 18 December 2013</abbr>
                                                </li>
                                                <li class="document-type">Statistics - national statistics</li>
                                            </ul>
                                        </li>    
                                        <li class="publication document-row" id="publication_210246">
                                            <h2><a href="/confudus">Magical beast register for the UK</a></h2>
                                            <ul class="attributes">
                                                <li class="publication-date">
                                                    <abbr class="public_timestamp" title="2013-06-28T14:00:00+01:00">28 August 2013</abbr>
                                                </li>
                                                <li class="document-type">Register</li>
                                            </ul>
                                        </li>
                                    </ol>
                                    <p class="see-all">
                                        <a href="v">See all of our statistics</a>
                                    </p>  
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
              <div style="float: right;">
                <p><a href="http://about.me/ubc_founder">Who's responsible for all of this?</a></p>
              </div>
        	</div>
        </div>
	</div>
</div>
</body>
</html>
